/EG1.java
/EG1Constants.java
/EG1TokenManager.java
/ParseException.java
/SimpleCharStream.java
/Token.java
/TokenMgrError.java
/Kina.java
/KinaConstants.java
/KinaTokenManager.java
/AK14_1Constants.java
